In [68]:
import tensorflow as tf
from tensorflow import keras
import sklearn
import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [69]:
a = pd.read_csv("./datasets/iot-network-intrusion-dataset_190919/Packets_integrated/MITM.txt", sep="\n", header = None)

In [70]:
a

                                                         0
0        0000  48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 08 0...
1        0010  01 e0 d8 37 00 00 ff 11 40 23 c0 a8 00 0...
2        0020  00 fb 14 e9 14 e9 01 cc 9e a2 00 00 00 0...
3        0030  00 01 00 00 00 01 08 5f 61 69 72 70 6f 7...
4        0040  5f 74 63 70 05 6c 6f 63 61 6c 00 00 0c 0...
...                                                    ...
8569456  01c0  25 53 63 13 4f 19 6f ad fe 55 55        ...
8569457
0000  88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 ...
8569458  0010  00 28 8b 8f 40 00 40 06 98 a8 c0 a8 00 1...
8569459  0020  76 b0 ae 54 01 bb 88 c0 0e 09 1e ae 5b 8...
8569460  0030  88 e0 4f 52 00 00                       ...

[8569461 rows x 1 columns]

In [71]:
# a = a[~a[0].str.contains("Frame")]

In [73]:
a[a[0].str.contains("Frame \(")] = "\f"

In [74]:
a[0][0][50:53]

' 00'

In [75]:
a[0].str[:53]

0          0000  48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 08 0...
1          0010  01 e0 d8 37 00 00 ff 11 40 23 c0 a8 00 0...
2          0020  00 fb 14 e9 14 e9 01 cc 9e a2 00 00 00 0...
3          0030  00 01 00 00 00 01 08 5f 61 69 72 70 6f 7...
4          0040  5f 74 63 70 05 6c 6f 63 61 6c 00 00 0c 0...
                                 ...
8569456    01c0  25 53 63 13 4f 19 6f ad fe 55 55        ...
8569457
0000  88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 ...
8569458    0010  00 28 8b 8f 40 00 40 06 98 a8 c0 a8 00 1...
8569459    0020  76 b0 ae 54 01 bb 88 c0 0e 09 1e ae 5b 8...
8569460    0030  88 e0 4f 52 00 00                       ...
Name: 0, Length: 8569461, dtype: object

In [76]:
a[0] = a[0].str[:53]

In [77]:
a = a[0].str.split("  ", expand=True)

In [78]:
a = a[[0, 1]]

In [79]:
a[1][0]

'48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 08 00 45 00'

In [80]:
a

             0                                                1
0         0000  48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 08 00 45 00
1         0010  01 e0 d8 37 00 00 ff 11 40 23 c0 a8 00 0e e0 00
2         0020  00 fb 14 e9 14 e9 01 cc 9e a2 00 00 00 00 00 17
3         0030  00 01 00 00 00 01 08 5f 61 69 72 70 6f 72 74 04
4         0040  5f 74 63 70 05 6c 6f 63 61 6c 00 00 0c 00 01 07
...        ...                                              ...
8569456   01c0                 25 53 63 13 4f 19 6f ad fe 55 55
8569457
0000   88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 00 45 0
8569458   0010  00 28 8b 8f 40 00 40 06 98 a8 c0 a8 00 18 df 27
8569459   0020  76 b0 ae 54 01 bb 88 c0 0e 09 1e ae 5b 82 50 10
8569460   0030                                88 e0 4f 52 00 00

[8569461 rows x 2 columns]

In [81]:
a = a.to_string(header=None, index=False)

In [82]:
a = a.split("\f")

In [84]:
a = pd.DataFrame(a)

In [86]:
a[0]=a[0].str.lstrip()

In [87]:
a[0][1]

'0000   48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 86 dd 60 0\n                                  0010  52 e7 01 cc 11 ff fe 80 00 00 00 00 00 00 10 cc\n                                  0020  20 7d e8 e8 10 62 ff 02 00 00 00 00 00 00 00 00\n                                  0030  00 00 00 00 00 fb 14 e9 14 e9 01 cc 17 42 00 00\n                                  0040  00 00 00 17 00 01 00 00 00 01 08 5f 61 69 72 70\n                                  0050  6f 72 74 04 5f 74 63 70 05 6c 6f 63 61 6c 00 00\n                                  0060  0c 00 01 07 5f 72 64 6c 69 6e 6b c0 15 00 0c 00\n                                  0070  01 06 5f 75 73 63 61 6e c0 15 00 0c 00 01 07 5f\n                                  0080  75 73 63 61 6e 73 c0 15 00 0c 00 01 07 5f 69 70\n                                  0090  70 75 73 62 c0 15 00 0c 00 01 08 5f 73 63 61 6e\n                                  00a0  6e 65 72 c0 15 00 0c 00 01 04 5f 69 70 70 c0 15\n                                  00b0  00 0c 00 01 05 5f 69 70 70 73 c0 15 00 0c 00 01\n                                  00c0  08 5f 70 72 69 6e 74 65 72 c0 15 00 0c 00 01 0f\n                                  00d0  5f 70 64 6c 2d 64 61 74 61 73 74 72 65 61 6d c0\n                                  00e0  15 00 0c 00 01 04 5f 70 74 70 c0 15 00 0c 00 01\n                                  00f0  08 5f 61 69 72 70 6c 61 79 c0 15 00 0c 00 01 05\n                                  0100  5f 72 61 6f 70 c0 15 00 0c 00 01 08 5f 68 6f 6d\n                                  0110  65 6b 69 74 c0 15 00 0c 00 01 0b 5f 67 6f 6f 67\n                                  0120  6c 65 63 61 73 74 c0 15 00 0c 00 01 0b 5f 61 66\n                                  0130  70 6f 76 65 72 74 63 70 c0 15 00 0c 00 01 04 5f\n                                  0140  73 6d 62 c0 15 00 0c 00 01 04 5f 72 66 62 c0 15\n                                  0150  00 0c 00 01 06 5f 61 64 69 73 6b c0 15 00 0c 00\n                                  0160  01 0f 5f 63 6f 6d 70 61 6e 69 6f 6e 2d 6c 69 6e\n                                  0170  6b c0 15 00 0c 00 01 0d 5f 61 70 70 6c 65 2d 6d\n                                  0180  6f 62 64 65 76 c0 15 00 0c 00 01 08 39 32 33 31\n                                  0190  30 37 65 38 04 5f 73 75 62 0e 5f 61 70 70 6c 65\n                                  01a0  2d 6d 6f 62 64 65 76 32 c0 15 00 0c 00 01 0f 5f\n                                  01b0  61 70 70 6c 65 2d 70 61 69 72 61 62 6c 65 c0 15\n                                  01c0  00 0c 00 01 c1 23 00 0c 00 01 00 00 0d b5 00 1b\n                                  01d0  18 ec 9d b4 ea b2 bd eb af bc ec 9d 98 20 4d 61\n                                  01e0  63 42 6f 6f 6b 20 50 72 6f c1 23 00 00 29 05 a0\n                                  01f0  00 00 11 94 00 0c 00 04 00 08 00 a8 a8 66 7f 0e\n                                  0200                                            3f 54\n                                 '

In [88]:
a[0] = a[0].str.replace("\n", " ")

In [89]:
a[0][1]

'0000   48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 86 dd 60 0                                   0010  52 e7 01 cc 11 ff fe 80 00 00 00 00 00 00 10 cc                                   0020  20 7d e8 e8 10 62 ff 02 00 00 00 00 00 00 00 00                                   0030  00 00 00 00 00 fb 14 e9 14 e9 01 cc 17 42 00 00                                   0040  00 00 00 17 00 01 00 00 00 01 08 5f 61 69 72 70                                   0050  6f 72 74 04 5f 74 63 70 05 6c 6f 63 61 6c 00 00                                   0060  0c 00 01 07 5f 72 64 6c 69 6e 6b c0 15 00 0c 00                                   0070  01 06 5f 75 73 63 61 6e c0 15 00 0c 00 01 07 5f                                   0080  75 73 63 61 6e 73 c0 15 00 0c 00 01 07 5f 69 70                                   0090  70 75 73 62 c0 15 00 0c 00 01 08 5f 73 63 61 6e                                   00a0  6e 65 72 c0 15 00 0c 00 01 04 5f 69 70 70 c0 15                                   00b0  00 0c 00 01 05 5f 69 70 70 73 c0 15 00 0c 00 01                                   00c0  08 5f 70 72 69 6e 74 65 72 c0 15 00 0c 00 01 0f                                   00d0  5f 70 64 6c 2d 64 61 74 61 73 74 72 65 61 6d c0                                   00e0  15 00 0c 00 01 04 5f 70 74 70 c0 15 00 0c 00 01                                   00f0  08 5f 61 69 72 70 6c 61 79 c0 15 00 0c 00 01 05                                   0100  5f 72 61 6f 70 c0 15 00 0c 00 01 08 5f 68 6f 6d                                   0110  65 6b 69 74 c0 15 00 0c 00 01 0b 5f 67 6f 6f 67                                   0120  6c 65 63 61 73 74 c0 15 00 0c 00 01 0b 5f 61 66                                   0130  70 6f 76 65 72 74 63 70 c0 15 00 0c 00 01 04 5f                                   0140  73 6d 62 c0 15 00 0c 00 01 04 5f 72 66 62 c0 15                                   0150  00 0c 00 01 06 5f 61 64 69 73 6b c0 15 00 0c 00                                   0160  01 0f 5f 63 6f 6d 70 61 6e 69 6f 6e 2d 6c 69 6e                                   0170  6b c0 15 00 0c 00 01 0d 5f 61 70 70 6c 65 2d 6d                                   0180  6f 62 64 65 76 c0 15 00 0c 00 01 08 39 32 33 31                                   0190  30 37 65 38 04 5f 73 75 62 0e 5f 61 70 70 6c 65                                   01a0  2d 6d 6f 62 64 65 76 32 c0 15 00 0c 00 01 0f 5f                                   01b0  61 70 70 6c 65 2d 70 61 69 72 61 62 6c 65 c0 15                                   01c0  00 0c 00 01 c1 23 00 0c 00 01 00 00 0d b5 00 1b                                   01d0  18 ec 9d b4 ea b2 bd eb af bc ec 9d 98 20 4d 61                                   01e0  63 42 6f 6f 6b 20 50 72 6f c1 23 00 00 29 05 a0                                   01f0  00 00 11 94 00 0c 00 04 00 08 00 a8 a8 66 7f 0e                                   0200                                            3f 54                                  '

In [90]:
for _ in range(10):
    a[0] = a[0].str.replace("  ", " ")

In [91]:
a[0][1]

'0000 48 4b aa 2c d8 f9 a8 66 7f 0e 3f 54 86 dd 60 0 0010 52 e7 01 cc 11 ff fe 80 00 00 00 00 00 00 10 cc 0020 20 7d e8 e8 10 62 ff 02 00 00 00 00 00 00 00 00 0030 00 00 00 00 00 fb 14 e9 14 e9 01 cc 17 42 00 00 0040 00 00 00 17 00 01 00 00 00 01 08 5f 61 69 72 70 0050 6f 72 74 04 5f 74 63 70 05 6c 6f 63 61 6c 00 00 0060 0c 00 01 07 5f 72 64 6c 69 6e 6b c0 15 00 0c 00 0070 01 06 5f 75 73 63 61 6e c0 15 00 0c 00 01 07 5f 0080 75 73 63 61 6e 73 c0 15 00 0c 00 01 07 5f 69 70 0090 70 75 73 62 c0 15 00 0c 00 01 08 5f 73 63 61 6e 00a0 6e 65 72 c0 15 00 0c 00 01 04 5f 69 70 70 c0 15 00b0 00 0c 00 01 05 5f 69 70 70 73 c0 15 00 0c 00 01 00c0 08 5f 70 72 69 6e 74 65 72 c0 15 00 0c 00 01 0f 00d0 5f 70 64 6c 2d 64 61 74 61 73 74 72 65 61 6d c0 00e0 15 00 0c 00 01 04 5f 70 74 70 c0 15 00 0c 00 01 00f0 08 5f 61 69 72 70 6c 61 79 c0 15 00 0c 00 01 05 0100 5f 72 61 6f 70 c0 15 00 0c 00 01 08 5f 68 6f 6d 0110 65 6b 69 74 c0 15 00 0c 00 01 0b 5f 67 6f 6f 67 0120 6c 65 63 61 73 74 c0 15 00 0c 00 01 0b 5f 61 66 0130 70 6f 76 65 72 74 63 70 c0 15 00 0c 00 01 04 5f 0140 73 6d 62 c0 15 00 0c 00 01 04 5f 72 66 62 c0 15 0150 00 0c 00 01 06 5f 61 64 69 73 6b c0 15 00 0c 00 0160 01 0f 5f 63 6f 6d 70 61 6e 69 6f 6e 2d 6c 69 6e 0170 6b c0 15 00 0c 00 01 0d 5f 61 70 70 6c 65 2d 6d 0180 6f 62 64 65 76 c0 15 00 0c 00 01 08 39 32 33 31 0190 30 37 65 38 04 5f 73 75 62 0e 5f 61 70 70 6c 65 01a0 2d 6d 6f 62 64 65 76 32 c0 15 00 0c 00 01 0f 5f 01b0 61 70 70 6c 65 2d 70 61 69 72 61 62 6c 65 c0 15 01c0 00 0c 00 01 c1 23 00 0c 00 01 00 00 0d b5 00 1b 01d0 18 ec 9d b4 ea b2 bd eb af bc ec 9d 98 20 4d 61 01e0 63 42 6f 6f 6b 20 50 72 6f c1 23 00 00 29 05 a0 01f0 00 00 11 94 00 0c 00 04 00 08 00 a8 a8 66 7f 0e 0200 3f 54 '

In [92]:
a[0] = a[0].str[:222]

In [93]:
a = a[0].str.split(" ", expand=True)

In [94]:
a

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0000,48,4b,aa,2c,d8,f9,a8,66,7f,...,72,70,6f,72,74,04,0040,5f,74,None
1,0000,48,4b,aa,2c,d8,f9,a8,66,7f,...,01,cc,17,42,00,00,0040,00,00,
2,0000,88,36,6c,d7,1c,56,bc,1c,81,...,00,00,00,00,00,00,0040,00,00,
3,0000,bc,1c,81,4b,ae,ba,88,36,6c,...,00,00,00,00,00,00,0040,00,00,
4,0000,a8,2b,b9,d6,5d,9c,a8,66,7f,...,72,70,6f,72,74,04,0040,5f,74,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194179,0000,04,32,f4,45,17,b3,88,36,6c,...,ca,04,00,00,c6,00,0040,00,01,
194180,0000,88,36,6c,d7,1c,56,04,32,f4,...,None,None,None,None,None,None,None,None,None,None
194181,0000,88,36,6c,d7,1c,56,04,32,f4,...,90,c1,34,f8,43,98,0040,5f,fd,
194182,0000,04,32,f4,45,17,b3,88,36,6c,...,90,84,16,1a,5f,9f,0040,5a,00,
194183,0000,88,36,6c,d7,1c,56,04,32,f4,...,None,None,None,None,None,None,None,None,None,None

In [95]:
# a= a[a[0] != 'Frame']

In [96]:
a=a.fillna("00")

In [97]:
a

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,0000,48,4b,aa,2c,d8,f9,a8,66,7f,...,72,70,6f,72,74,04,0040,5f,74,00
1,0000,48,4b,aa,2c,d8,f9,a8,66,7f,...,01,cc,17,42,00,00,0040,00,00,
2,0000,88,36,6c,d7,1c,56,bc,1c,81,...,00,00,00,00,00,00,0040,00,00,
3,0000,bc,1c,81,4b,ae,ba,88,36,6c,...,00,00,00,00,00,00,0040,00,00,
4,0000,a8,2b,b9,d6,5d,9c,a8,66,7f,...,72,70,6f,72,74,04,0040,5f,74,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194179,0000,04,32,f4,45,17,b3,88,36,6c,...,ca,04,00,00,c6,00,0040,00,01,
194180,0000,88,36,6c,d7,1c,56,04,32,f4,...,00,00,00,00,00,00,00,00,00,00
194181,0000,88,36,6c,d7,1c,56,04,32,f4,...,90,c1,34,f8,43,98,0040,5f,fd,
194182,0000,04,32,f4,45,17,b3,88,36,6c,...,90,84,16,1a,5f,9f,0040,5a,00,
194183,0000,88,36,6c,d7,1c,56,04,32,f4,...,00,00,00,00,00,00,00,00,00,00

In [98]:
a = a.drop(columns=[0, 17, 34, 51, 68, 71])

In [99]:
pd.isnull(a).sum().sum()

0

In [100]:
a[a==""]="00"

In [101]:
def func(x):
    return int(x, 16)
    
a.applymap(func)

,1,2,3,4,5,6,7,8,9,10,...,60,61,62,63,64,65,66,67,69,70
0,72,75,170,44,216,249,168,102,127,14,...,97,105,114,112,111,114,116,4,95,116
1,72,75,170,44,216,249,168,102,127,14,...,20,233,1,204,23,66,0,0,0,0
2,136,54,108,215,28,86,188,28,129,75,...,0,0,0,0,0,0,0,0,0,0
3,188,28,129,75,174,186,136,54,108,215,...,0,0,0,0,0,0,0,0,0,0
4,168,43,185,214,93,156,168,102,127,14,...,97,105,114,112,111,114,116,4,95,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194179,4,50,244,69,23,179,136,54,108,215,...,1,0,202,4,0,0,198,0,0,1
194180,136,54,108,215,28,86,4,50,244,69,...,0,0,0,0,0,0,0,0,0,0
194181,136,54,108,215,28,86,4,50,244,69,...,1,2,144,193,52,248,67,152,95,253
194182,4,50,244,69,23,179,136,54,108,215,...,1,1,144,132,22,26,95,159,90,0
194183,136,54,108,215,28,86,4,50,244,69,...,0,0,0,0,0,0,0,0,0,0

In [102]:
a

,1,2,3,4,5,6,7,8,9,10,...,60,61,62,63,64,65,66,67,69,70
0,48,4b,aa,2c,d8,f9,a8,66,7f,0e,...,61,69,72,70,6f,72,74,04,5f,74
1,48,4b,aa,2c,d8,f9,a8,66,7f,0e,...,14,e9,01,cc,17,42,00,00,00,00
2,88,36,6c,d7,1c,56,bc,1c,81,4b,...,00,00,00,00,00,00,00,00,00,00
3,bc,1c,81,4b,ae,ba,88,36,6c,d7,...,00,00,00,00,00,00,00,00,00,00
4,a8,2b,b9,d6,5d,9c,a8,66,7f,0e,...,61,69,72,70,6f,72,74,04,5f,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194179,04,32,f4,45,17,b3,88,36,6c,d7,...,01,00,ca,04,00,00,c6,00,00,01
194180,88,36,6c,d7,1c,56,04,32,f4,45,...,00,00,00,00,00,00,00,00,00,00
194181,88,36,6c,d7,1c,56,04,32,f4,45,...,01,02,90,c1,34,f8,43,98,5f,fd
194182,04,32,f4,45,17,b3,88,36,6c,d7,...,01,01,90,84,16,1a,5f,9f,5a,00
194183,88,36,6c,d7,1c,56,04,32,f4,45,...,00,00,00,00,00,00,00,00,00,00

In [104]:
temp = pd.read_csv("./datasets/iot-network-intrusion-dataset_190919/Packets_integrated/MITM.csv", header=None)

In [116]:
temp_2 = pd.read_csv("./datasets/iot-network-intrusion-dataset_190919/Packets_integrated/MITM.csv", header=None)

C:\Users\hjhhi\anaconda3\envs\python3.6.8\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [121]:
temp_2[7] = 0

In [158]:
temp_2[7][index] = 1

C:\Users\hjhhi\anaconda3\envs\python3.6.8\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [162]:
temp_2[7][1300:1350]

1300    0
1301    0
1302    0
1303    0
1304    0
1305    0
1306    0
1307    0
1308    0
1309    0
1310    0
1311    0
1312    0
1313    0
1314    0
1315    0
1316    0
1317    0
1318    0
1319    0
1320    0
1321    0
1322    1
1323    0
1324    0
1325    0
1326    0
1327    0
1328    0
1329    1
1330    1
1331    1
1332    1
1333    0
1334    0
1335    0
1336    0
1337    1
1338    1
1339    0
1340    0
1341    0
1342    0
1343    0
1344    1
1345    1
1346    0
1347    0
1348    0
1349    1
Name: 7, dtype: int64

In [137]:
temp_2[7][1]

0

In [144]:
temp[0]

0            No.
1           1322
2           1329
3           1330
4           1331
           ...
101881    193380
101882    193381
101883    193382
101884    193383
101885    193384
Name: 0, Length: 101886, dtype: object

In [155]:
index = temp[0][1:].apply(int)

In [157]:
index = list

numpy.int64

# example 모델

In [ ]:
model = keras.models.Sequential([
    keras.layers.LSTM(20, return_sequences=True, input_shape=[None,66]),
    keras.layers.LSTM(20),
    keras.layers.Dense(1, activation="sigmoid")
])

model.compile(loss="mse", optimizer="adam")
history = model.fit(a, y_train, epochs=20,)

In [ ]:
y_train=[0,1]

In [ ]:
b.shape

In [ ]:
temp_1 = np.expand_dims(b, axis=0)
temp_2 = np.expand_dims(c, axis=0)

In [ ]:
temp_1 = pd.DataFrame(temp_1)

In [ ]:
temp_1.shape

In [ ]:
print(temp_1.shape, temp_2.shape)

In [ ]:
X_train = np.concatenate([temp_1, temp_2], axis=1)

In [ ]:
X_train.shape

In [ ]:
X_train = np.concatenate([temp_1, temp_2], axis=0)

In [ ]:
df_1 = b

In [ ]:
df_1.shape

In [ ]:
df_1.append(df_1).shape